check process {{app_name}} MATCHING "{{app_name}}/releases"
       start program = "/bin/su - {{ deployer }} -c 'PORT={{ app_port }} {{project_path}}/rel/{{app_prefix}}/bin/{{app_prefix}} start'"
       stop program = "/bin/su - {{ deployer }} -c 'PORT={{ app_port }} {{project_path}}/rel/{{app_prefix}}/bin/{{app_prefix}} stop'"
       {% for alert_email in app_alert_emails %}
       alert {{ alert_email }}
       {% endfor %}
